name: Run Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: blog_test
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=5s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1

      - name: Install dependencies
        run: npm install

      - name: Wait for Postgres to be ready
        run: |
          for i in {1..20}; do
            nc -z localhost 5432 && echo "Postgres is ready" && exit 0
            echo "Waiting for Postgres..."
            sleep 2
          done
          exit 1

      - name: Run migrations
        env:
          TEST_DATABASE_URL: postgres://postgres:postgres@localhost:5432/blog_test
          NODE_ENV: test
        run: |
          bun run migrate
      - name: Seed database
        env:
          TEST_DATABASE_URL: postgres://postgres:postgres@localhost:5432/blog_test
          NODE_ENV: test
        run: |
          bun run seed

      - name: Run tests
        env:
          PORT: 5000
          SALT_ROUNDS: 3
          JWT_SECRET: 123456789supersecretkey987654321
          TEST_DATABASE_URL: postgres://postgres:postgres@localhost:5432/blog_test
          NODE_ENV: test
        run: bun test --coverage

  format:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1

      - name: Install dependencies
        run: npm install

      - name: Run lint and format check
        run: npm run format
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
      - run: npm install
      - run: bun run build
